@font-face {
   font-family: 'ArbFONTS-Montserrat-Arabic-Light';
   font-display: swap;
   src: url('file:///Users/abdo/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-06-11_193757/fonts/ArbFONTS-Montserrat-Arabic-Light/font.ttf');
}
